.pagging {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: rem(20);

	font-size: rem(12);
	line-height: 1.64;
	letter-spacing: 0.44px;
	color: var(--primary-text);

	// .pagging__arrow
	&__arrow {
		margin-right: 20px;
		opacity: 0.5;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 1;
		}

		&::before {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			background-color: #fff;
			border-top: 1px solid var(--grey-strokes);
			border-right: 1px solid var(--grey-strokes);
			transform: rotate(45deg) translateY(3px);
		}
	}
	// .pagging__list
	&__list {
		display: flex;
		li {
		}
	}
	// .pagging__item
	&__item {
		margin-right: rem(20);
		transition: all 0.3s ease 0s;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
		&._active {
		}
	}
}
