//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	max-width: 80px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	// .quantity__button
	&__button {
		width: 25px;
		height: 25px;
		flex-shrink: 0;
		position: relative;
		background: #f4f4f4;
		cursor: pointer;
		border-radius: 50%;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: var(--orange);
			width: 10px;
			height: 1px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {
		}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			font-family: "Open Sans";
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 1.64;
			letter-spacing: 0.44px;
			color: #3a4346;
			width: 100%;
			text-align: center;
		}
	}
}
