@font-face {
	font-family: OpenSans_Condensed;
	font-display: swap;
	src: url("../fonts/OpenSans_Condensed-Light.woff2") format("woff2"), url("../fonts/OpenSans_Condensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
