.actions {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.52;
	letter-spacing: 0.44px;
	color: var(--white-text);

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: column;
	column-gap: 22px;
	place-items: center start;

	@media (max-width: em(1250)) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
	}

	@media (max-width: $mobile) {
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		position: relative;
		z-index: 4;
	}

	&_footer {
		gap: 16px 110px;
		font-weight: 300;

		@media (max-width: em(1250)) {
			display: grid;
			grid-template-rows: repeat(2, 1fr);
			grid-auto-flow: column;
			column-gap: 22px;
			place-items: center start;
		}
	}

	&__icon {
		margin-right: 10px;
		max-width: 18px;

		@media (max-width: $mobile) {
			margin-right: 0;
		}
	}

	&__phone-body {
		display: flex;
		align-items: center;
	}

	&__number {
		font-family: "OpenSans_Condensed";
		font-weight: 300;
		font-size: 18px;
		line-height: 1.2;
		font-feature-settings: "pnum" on, "lnum" on;
		white-space: nowrap;

		&:hover {
			text-decoration: underline;
		}
		@media (max-width: em(1250)) {
			display: none;
		}

		&_footer {
			@media (max-width: em(1250)) {
				display: block;
			}
		}

		&_consultation {
			font-size: 36px;
			@include adaptiveValue("font-size", 36, 22, 1300, 479, 1);
			padding-left: 14px;

			@media (max-width: em(1250)) {
				display: block;
			}
		}
	}

	&__free-call {
		font-style: italic;
		color: var(--ligth-text);
		padding-left: 28px;
		white-space: nowrap;

		@media (max-width: em(1250)) {
			display: none;
		}

		&_footer {
			@media (max-width: em(1250)) {
				display: none;
			}
		}

		&_consultation {
			padding-left: 42px;
			font-size: 12px;
			color: #817d7d;

			@media (max-width: em(1250)) {
				display: block;
			}
		}
	}

	&__location {
		display: flex;
		align-items: center;
		position: relative;

		&_footer {
			max-width: 240px;
			display: flex;
			align-items: start;
		}
	}

	&__spollers {
		@media (max-width: em(1250)) {
			display: none;
		}
	}

	&__link-title {
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: em(1250)) {
			display: none;
		}

		&_footer {
			@media (max-width: em(1250)) {
				display: block;
			}
		}
	}

	&__link {
		&:hover {
			text-decoration: underline;
		}
	}

	&__arrow {
		padding: 2px;
		width: 20px;
		height: 20px;
		margin-left: 10px;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 10px;
			height: 1px;
			top: 45%;
			background-color: var(--white-text);
			transition: all 0.3s ease 0s;
		}

		&::before {
			right: 0px;
			transform: rotate(-45deg);
		}
		&::after {
			right: 7px;
			transform: rotate(45deg);
		}

		&._spoller-active {
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	&__list {
		position: absolute;
		width: 120%;
		min-width: 150px;
		height: auto;
		top: 22px;
		left: 0;
		padding: 2px 0px 10px 40px;
		border-radius: 0 0 15px 15px;
		background-color: rgba(36, 40, 40, 0.6);
		z-index: 2;
	}

	&__item-list {
		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}

	&__mail {
		display: flex;
		align-items: center;

		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__mail-link {
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: em(1250)) {
			display: none;
		}
		&_footer {
			@media (max-width: em(1250)) {
				display: block;
			}
		}
	}
}
