.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	padding: 14px 20px;
	background: var(--gradient-orange);
	border-radius: 5px;

	font-size: rem(16);
	line-height: percent(22, 16);
	font-weight: 700;
	color: var(--white-text);
	white-space: nowrap;

	&_action {
		font-size: rem(13);
		line-height: percent(18, 13);
		padding: 8px 20px;
		border: 1px solid var(--orange);
		background: var(--gradient-orange);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		// border: 1px solid transparent;
		// border-image: linear-gradient(180deg, #eb2613 0%, #fc5b2a 100%);
		// border-image-slice: 1%;
	}
}
