.category {
	&__container {
	}

	&__title {
		font-family: "OpenSans_Condensed";
		font-weight: 300;
		font-size: 72px;
		line-height: 1.2;
		font-feature-settings: "pnum" on, "lnum" on;
		margin-bottom: 34px;
	}

	&__row {
		display: grid;
		grid-template-columns: 74% auto;
		column-gap: 44px;
	}

	&__products {
		// margin-bottom: 100px;
	}

	&__filter {
	}
}
