//====================================================================================================
.footer {
	background: var(--dark-grey-bg);
	padding: 45px 0;

	@media (max-width: $mobile) {
		display: none;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 10px;
	}

	&__logo {
	}

	&__menu {
	}

	&__actions {
	}
}

//====================================================================================================
