//====================================================================================================
.home-slider {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(210, 214, 216, 0.7) 100%);
	box-shadow: inset 0px 0px 200px rgba(0, 16, 40, 0.07);
	position: relative;

	&__container {
	}

	&__slide-content {
		position: relative;
		display: flex;
		column-gap: 185px;
	}

	&__image {
		transform: translate(15%, 15%);
	}

	&__description {
		font-family: "OpenSans_Condensed";
		line-height: 1.2;
		font-feature-settings: "pnum" on, "lnum" on;
		margin-top: 120px;
	}

	&__title {
		font-size: 72px;
		margin-bottom: 40px;
	}

	&__row {
		margin-bottom: 35px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 660px;
		gap: 15px 60px;
	}

	&__item {
		display: flex;
		column-gap: 20px;
	}

	&__icon {
	}

	&__point {
		font-size: 36px;
	}

	&__button {
		max-width: 200px;
	}

	&__slide {
	}

	&__controll {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 17px 0 10px 20px;
		background-color: var(--white-bg);
		border-radius: 5px 0px 0px 0px;
		box-shadow: 0px 0px 200px rgba(0, 16, 40, 0.07);

		position: absolute;
		width: 600px;
		bottom: 0;
		right: 0;
	}

	&__prev,
	&__next {
		margin-right: 20px;
		position: relative;
		width: 10px;
		height: 10px;
		cursor: pointer;

		&::before {
			content: "";
			border-top: 1px solid var(--orange);
			border-left: 1px solid var(--orange);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: rotate(-45deg);
		}

		&[disabled] {
			cursor: default;
			&::before {
				border-top: 1px solid var(--ligth-text);
				border-left: 1px solid var(--ligth-text);
			}
		}
	}

	&__next {
		margin-right: 45px;

		&::before {
			border-left: none;
			border-right: 1px solid var(--orange);
			transform: rotate(45deg);
		}

		&[disabled] {
			cursor: default;
			&::before {
				border-left: none;
				border-right: 1px solid var(--ligth-text);
			}
		}
	}

	&__pagination {
		font-family: "OpenSans_Condensed";
		font-size: 18px;
		line-height: 1.2;
		color: var(--ligth-text);
		font-feature-settings: "pnum" on, "lnum" on;

		background: linear-gradient(180deg, #eb2613 0%, #fc5b2a 100%);
		-webkit-background-clip: text;
		background-clip: text;
		text-fill-color: transparent;
		// -webkit-text-fill-color: transparent;
	}
}

.swiper-pagination-bullet {
	margin-right: 30px;
	cursor: pointer;
}
.swiper-pagination-bullet-active {
	color: var(--orange);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 19px;
		height: 4px;
		top: -19px;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--primary-text);
	}
}

//====================================================================================================
