.input {
	width: 100%;
	outline: none;
	background-color: var(--white-bg);
	font-weight: 700;
	font-size: 12px;
	line-height: 1.64;
	letter-spacing: 0.44px;
	color: var(--primary-text);

	&_header {
		color: var(--white-text);
		background-color: transparent;

		&::placeholder {
			font-weight: 300;
			color: var(--white-text);
			opacity: 0.5;
		}
	}

	&__body {
		display: flex;
		align-items: center;
		padding: 15px 20px;
		margin-bottom: 10px;
		border: 1px solid var(--grey-strokes);
		border-radius: 5px;
		background-color: var(--white-bg);

		&_textarea {
			align-items: start;
			min-height: 100px;
		}
	}

	&__label {
		flex: 0 0 15%;
		flex-shrink: 0;
		font-weight: 700;
		font-size: 12px;
		white-space: nowrap;
		display: flex;
		align-items: center;
		letter-spacing: 0.44px;

		span {
			color: var(--orange);
		}
	}

	&__textarea {
		width: 100%;
		outline: none;
		min-height: 50px;
		resize: none;
		margin-bottom: 20px;

		&::placeholder {
			font-weight: 300;
			color: var(--primary-text);
			opacity: 0.5;
			font-size: 12px;
		}
	}

	&__input {
		width: 100%;
		outline: none;

		&::placeholder {
			font-weight: 300;
			color: var(--primary-text);
			opacity: 0.5;
			font-size: 12px;
		}

		&_textarea {
			resize: none;
			overflow: both;
			min-height: 80px;
		}
	}
}
