.list-info {
	position: relative;
	padding: 100px 0 130px;

	@media (max-width: $mobile) {
		padding: 0;
	}

	&__title {
		position: relative;
		z-index: 2;
		margin-bottom: 54px;
		max-width: 1070px;
		@media (max-width: $mobile) {
			margin-bottom: 10px;
			max-width: 100%;
			color: var(--primary-text);
		}
	}

	&__list {
		position: relative;
		z-index: 2;
	}

	&__bg {
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
}
