.page {
	&__home-slider {
		margin-bottom: rem(100);
	}

	&__grid-preview {
		margin-bottom: rem(80);

		@media (max-width: $mobile) {
			margin-bottom: rem(30);
		}
	}

	&__list-info {
		margin-bottom: rem(50);

		@media (max-width: $mobile) {
			margin-bottom: rem(40);
		}
	}

	&__products {
		margin-bottom: rem(100);

		@media (max-width: $mobile) {
			margin-bottom: rem(50);
		}
	}

	&__form-mobile {
		margin-bottom: 40px;
	}

	&__catalog {
		margin-bottom: rem(50);

		@media (max-width: $mobile) {
			margin-bottom: rem(20);
		}
	}

	&__about {
		margin-bottom: rem(100);
	}

	&__license {
		margin-bottom: rem(50);

		@media (max-width: $mobile) {
			margin-bottom: rem(40);
		}
	}

	&__sponsor {
		margin-bottom: rem(100);

		@media (max-width: $mobile) {
			margin-bottom: rem(50);
		}
	}

	&__consultation {
	}
}
