.menu {
	font-size: 13px;
	line-height: 1.85;
	letter-spacing: 0.44px;
	color: var(--white-text);

	@media (max-width: $mobile) {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 50px;
			top: 0;
			left: 0;
			background: var(--white-text);
			z-index: 3;
		}
	}

	&__body {
		transition: all 0.3s ease 0s;

		@media (max-width: $mobile) {
			padding: 70px 20px 0px 20px;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			transform: translateY(-100%);
			background-color: var(--white-bg);
			font-size: 18px;
			font-weight: 700;
		}

		&.open {
			transform: translateY(0);
		}
	}

	&__list {
		&_header {
			// border: 1px solid #000;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			column-gap: 18px;
			@media (max-width: em(1250)) {
				column-gap: 12px;
			}
			@media (max-width: $mobile) {
				flex-direction: column;
				color: var(--primary-text);
				align-items: start;
				margin-bottom: 30px;
			}
		}

		&_footer {
			display: grid;
			grid-template-columns: repeat(2, auto);
			gap: 8px 80px;
			@media (max-width: $tablet) {
				gap: 8px 20px;
			}
		}
	}

	&__item {
		flex-shrink: 0;
	}

	&__link {
		position: relative;

		&::after {
			content: "";
			transition: all 0.2s ease 0s;
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -2px;
			left: 50%;
			right: 50%;
			transform: translateX(-50%);
			background-color: var(--white-text);
			@media (max-width: $mobile) {
				background-color: var(--primary-text);
			}
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}
