.products {
	&__container {
	}

	&__title {
		margin-bottom: 40px;
		@media (max-width: $mobile) {
			margin-bottom: 17px;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		gap: 60px 38px;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			gap: 23px 21px;
		}
	}

	&__pages {
		margin: 100px 0 70px;
	}

	&__item {
	}
}
