.slider-product {
	display: grid;
	grid-template-columns: 100px 1fr;
	place-items: center;

	@media (max-width: $mobileSmall) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__swiper {
		width: 100%;
		width: 320px;
		height: 600px;
		margin: 0px auto;

		@media (max-width: $mobileSmall) {
			height: 325px;
		}
	}

	&__content-slide {
		@media (max-width: $mobileSmall) {
			text-align: center;
		}

		img {
			width: 100%;
			max-width: 320px;
			height: auto;

			@media (max-width: $mobileSmall) {
				max-width: 160px;
			}
		}
	}
	// =======================
	&__swiper-preview {
		width: 100px;
		height: 320px;

		@media (max-width: $mobileSmall) {
			display: none;
		}
	}

	&__wrapper-preview {
	}

	&__slide-preview {
	}

	&__content-slide-preview {
		cursor: pointer;

		img {
			width: 100%;
			max-width: 100px;
			height: auto;
		}
	}

	&__action {
		grid-column: span 2;
		text-align: center;

		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 20px;

		display: none;
		@media (max-width: $mobile) {
			display: flex;
		}
	}

	&__price {
		font-family: "OpenSans_Condensed";
		font-size: 24px;
		line-height: 1.2;
		flex-wrap: nowrap;
		flex-shrink: 0;

		@media (max-width: $mobileSmall) {
			margin-right: auto;
		}
	}

	&__button {
		height: 40px;
		@include adaptiveValue("width", 250, 100, 478, 320, 1);
	}

	&__click {
		font-size: 11px;
		line-height: 1.5;
		color: var(--orange);
		position: relative;
		padding-left: 20px;
		text-align-last: left;
		margin-left: 10px;

		&::before {
			content: url("../img//icons/click.png");
			position: absolute;
			width: 14px;
			height: 19px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}
