.slider-product {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__swiper {
		width: 100%;
		width: 320px;
		height: 600px;
		border: 1px solid #000;
		margin: 0px auto;
	}

	&__wrapper {
	}

	&__slide {
		// border: 1px solid red;
	}

	&__content-slide {
		img {
			width: 100%;
			max-width: 320px;
			height: auto;
		}
	}
	// =======================
	&__swiper-preview {
		width: 100px;
		height: 320px;
	}

	&__wrapper-preview {
	}

	&__slide-preview {
	}

	&__content-slide-preview {
		img {
			width: 100%;
			max-width: 100px;
			height: auto;
		}
	}

	&__slide {
	}
}
