.page {
	&__product-card {
		margin-bottom: 83px;

		@media (max-width: $mobile) {
			margin-bottom: 20px;
		}
	}

	&__columns {
		margin-bottom: 100px;

		@media (max-width: $mobile) {
			margin-bottom: 20px;
		}
	}
}
